input {
  margin: 10px;
}

button {
  background-color: rgb(0, 243, 162);
  border-style: hidden;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
}

button:hover {
  background-color: rgb(21, 163, 116);
}

